@font-face {
    font-family: bullpen3d;
    src: url("../ttf/bullpen 3d.ttf");
}

@font-face {
    font-family: bullpen;
    src: url("../ttf/bullpen hv.ttf");
}

@font-face {
    font-family: bullpenIt;
    src: url("../ttf/bullpen hv it.ttf");
}

@font-face {
    font-family: consolasIt;
    src: url("../ttf/Consolas Italic.ttf");
}

@font-face {
    font-family: consolasBld;
    src: url("../ttf/Consolas Bold.ttf");
}

@font-face {
    font-family: consolasBldIt;
    src: url("../ttf/Consolas Bold Italic.ttf");
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: bullpenIt, sans-serif;
}

.menu-button {
    cursor: pointer;
    background-color: transparent;
    font-family: bullpen3d, sans-serif;
    font-size: 1.5vw;
    height: 3vw;
    width: 20vw;
    border-color: black;
    border-width: thin;
    border-style: dotted;
    outline: none;
}

.menu-button-selected {
    cursor: pointer;
    background-color: gainsboro;
    font-family: bullpen3d, sans-serif;
    font-size: 1.5vw;
    height: 3vw;
    width: 20vw;
    border-color: black;
    border-width: thin;
    border-style: dotted;
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

.menu-table {
    border-style: dotted;
    border-color: black;
    border-width: 0.2vw;
}

h2 {
    font-family: bullpenIt, sans-serif;
}

.media-content {
    background-color: transparent;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: left;
    font-family: consolasBld, sans-serif;
}

.news-text {
    font-family: consolasIt, sans-serif;
}

.news-text-bold {
    font-family: consolasBldIt, sans-serif;
}

.appicnmob {
    width: 10vw;
    height: 10vw;
    border-style: solid;
    border-color: black;
    border-width: 0.25vw;
    border-radius: 20%;
}

.appicn {
    width: 10vw;
    height: 10vw;
    border-style: none;
    border-color: transparent;
    border-width: 0;
}

.instaprof {
    border: none;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    cursor: pointer;
}