@font-face {
    font-family: comicSans;
    src: url("../ttf/Comic Sans MS.ttf");
}

@font-face {
    font-family: comicSansBold;
    src: url("../ttf/Comic Sans MS Bold.ttf");
}

@font-face {
    font-family: bullpen3d;
    src: url("../ttf/bullpen 3d.ttf");
}

@font-face {
    font-family: bullpen;
    src: url("../ttf/bullpen hv.ttf");
}

@font-face {
    font-family: bullpenIt;
    src: url("../ttf/bullpen hv it.ttf");
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: azure;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: bullpenIt, sans-serif;
}

.menu-button {
    cursor: pointer;
    background-color: lightskyblue;
    font-family: bullpen3d, sans-serif;
    font-size: x-large;
    height: 50px;
    width: 20vw;
    border-color: black;
    border-width: thin;
    border-style: dotted;
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}