@font-face {
    font-family: comicSans;
    src: url("../ttf/Comic Sans MS.ttf");
}

@font-face {
    font-family: comicSansBold;
    src: url("../ttf/Comic Sans MS Bold.ttf");
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightskyblue;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: comicSansBold, sans-serif;
    color: black;
}

h2 {
    font-family: comicSans, sans-serif;
    color: black;
}

.game-button {
    width: 50px;
    height: 50px;
    border-width: 5px;
    border-color: black;
    background-color: transparent;
    border-radius: 50%;
    font-family: comicSansBold, sans-serif;
    font-size: large;
    outline: none;
}

.reset-button {
    font-family: comicSans, sans-serif;
    font-size: large;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
    outline: none;
    background-color: tomato;
}

a {
    color: black;
}